<div class="container">
    <div class="col-lg-6">
        <div class="well">
            <h4>{{ currentUser.name }}</h4>
            <p>Баланс: {{ currentUser.balance | currency }}</p>
            <button class="btn btn-success btn-block"
                    ng-click="upBalance(currentUser, 100)">Пополнить баланс
            </button>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="well">
            <h4>Ваш заказ:</h4>
            <p ng-repeat="dish in currentUser.dishes">{{ dish.title }}</p>
            <button class="btn btn-success btn-block"
                    ng-click="showMenu()">Добавить блюдо
            </button>
        </div>
    </div>
</div>

<div class="container">
    <div class="well"
         ng-if="isShowMenu">
        <h4>Наше меню:</h4>
        <div class="media"
             ng-repeat="dish in menuDishes">
            <div class="media-left">
                <a href="#">
                    <img class="media-object"
                         ng-src="{{ dish.image }}"
                         alt="{{ dish.title }}"
                         style="width: 100px;">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{ dish.title }}</h4>
                <h5>Цена: {{ dish.price | currency }}</h5>
                <p>Состав: {{ dish.ingredients.join(", ") }}</p>
                <div class="pull-right" style="width: 225px;">
                    <div class="input-group">
                        <span class="input-group-addon"
                              ng-class="{ 'alert-danger': dish.price * count > currentUser.balance}">{{ dish.price * count | currency }}</span>
                        <input class="form-control"
                               type="number"
                               min="1"
                               ng-model="count"
                               ng-init="count = 1">
                        <span class="input-group-btn">
                            <button class="btn btn-success"
                                    type="button"
                                    ng-click="addDish(dish, count, currentUser, this)"
                                    ng-disabled="dish.price * count > currentUser.balance">Заказать</button>
                        </span>
                    </div>
                    <button class="btn btn-success btn-block"
                            type="button"
                            ng-click="upBalance(currentUser, -(currentUser.balance - dish.price * count))"
                            ng-if="dish.price * count > currentUser.balance"
                            style="margin-top: 10px;">Пополнить баланс на {{-(currentUser.balance - dish.price * count) | currency}}</button>
                </div>
            </div>
            <hr>
            <button class="btn btn-success btn-block"
                    ng-click="hideMenu()"
                    ng-if="$last">Закрыть меню
            </button>
        </div>
    </div>
</div>